{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container col-lg-9 col-sm-12"> 
  <div class="row">
    <h3>Стек технологий</h3>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <br>
        <li class="list-group-item">
          <b>Python</b>
        </li>
        <li class="list-group-item">
          <b>Django</b>
        </li>
        <li class="list-group-item">
          <b>SQL</b>
        </li>
        <li class="list-group-item">
          <b>HTML/CSS</b>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <br>
      <p>Данные технологии были использованы при разработке проекта <b>YaTube</b></p>
    </article>
  </div>
</div>
{% endblock %}